.anavbar-profile-frame {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20%;
  margin-left: 20%;
  padding: 10%;
}
.anavbar-align-data {
  position: relative;
  left: 500px;
}
.anavbar-navbarr {
  margin-top: 1%;
  margin-bottom: 1%;

  background-color: aquamarine;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.anavbar-align-this {
  /* margin-left: 65%;
    margin-top: 1%;
    margin-bottom: 1%; */
  align-items: right;
  position: relative;
  left: 500px;
}
.anavbar-search {
  position: relative;
  height: 50px;
}
/* .cnavbar-underline{
    text-decoration:none;
    
  } */
.anavbar-inputsearch {
  background: #ffffff;
  border: 0;
  font-size: 20px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
  border-radius: 30px;
}
.anavbar-btn1 {
  border-radius: 30px;
  background: #ffffff;
  border: 0;
  position: relative;
  font-size: 25px;
  cursor: pointer;
  height: 50px;
  top: 0;
  left: 0;
  width: 50px;
  transition: transform 0.3s ease;
}
.anavbar-btn1:focus,
.inputsearch:focus {
  outline: none;
}
.anavbar-search.active .inputsearch {
  width: 200px;
  border-radius: 30px;
}
.anavbar-search.active .btn1 {
  transform: translateX(150px);
}

/* modifications  */
.admin-navbar-links {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0px;
}

.admin-navbar-links ul li a {
  text-decoration: none;
  font-weight: 800;
}

.admin-navbar-links li {
  display: flex;
  align-items: center;
}

.admin-nav-logout-btn {
}

.admin-nav-logout-btn a {
  background-color: gray;
  border-radius: 10px;
  color: white;
  position: relative;
}

.admin-nav-logout-btn a :hover {
  color: white;
}
.admin-navbar-logo-2 {
  width: 50px;
}

#admin-nav-container {
  height: 50px;
  display: flex;
  box-sizing: border-box;
}
