.pet-adoption-card-container {
  height: auto;
  width: 67%;
  overflow-x: hidden;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  background-color: #eee;
  padding: 20px 30px;
  box-sizing: border-box;
}

.pet-adoption-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  height: 70%;
}

.pet-adoption-card-container-right {
  width: 50%;
  height: 14rem;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.pet-adoption-card-container-left {
  width: auto;
  max-width: 60%;
  height: 14rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.pet-adoption-card-container-right > h2 {
  font-weight: 700;
  font-size: 28px;
}
.pet-adoption-card-container-right span {
  font-weight: 800;
  margin-right: 5px;
}
.pet-adoption-card-container-right p {
  margin-bottom: 4px;
}

.pet-adoption-card-footer {
}
.pet-adoption-card-footer h2 {
  font-weight: 800;
}
.pet-adoption-card-footer p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}


div > .pet-adoption-card-footer-contact {
    font-weight: 800; 
}
div > .pet-adoption-card-footer-contact>span {
    color: #d61c62;
    cursor: pointer;
}

.adobpt-me-btn {
    width: 100px;
    height: 30px;
    background-color: #d61c62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
}