/* 03-11-2023 Build by Soumya */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.userForgotPwd-page-logo-container {
  display: flex;
  padding-left: 12%;
  margin-top: 20px;
  align-items: center;
}

.userForgotPwd-page-logo-container img {
  width: 3rem;
  height: auto;
}

.userForgotPwd-page-logo-container p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 0;
}

.userForgotPwd-page-container {
  display: flex;
  width: 90%;
  margin: auto;
  height: 500px;
}

.userForgotPwd-page-left-section {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.userForgotPwd-form-container {
  width: 67%;
  margin: auto;
  background-color: #018ae0;
  height: 460px;
  border-radius: 20px;
  color: white;
  padding: 1rem .4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 31px;
  box-sizing: border-box;
}

.userForgotPwd-form-container > h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.userForgotPwd-form-container form {
  height: 200px; 
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
}

.userForgotPwd-form-container form>div {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.userForgotPwd-form-container form input {
  background-color: #53a8dd;
  color: white;
  letter-spacing: 1.2px;
  height: 30px;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.userForgotPwd-form-container form input::placeholder {
  color: white;
  font-size: 14px;
}

.userForgotPwd-form-container form input:focus {
  border: none;
  outline: none;
}

.userForgotPwd-remember-me-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 20px;
  font-size: 13.64px;
  align-items: center;
  color: rgba(255, 255, 255, 0.66);
}

.userForgotPwd-remember-me-container p {
  margin-bottom: 0;
}

.userForgotPwd-remember-me-container div label {
  margin-left: 10px;
}

.userForgotPwd-dont-have-account {
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
}

.userForgotPwd-dont-have-account span {
  font-weight: 700;
  cursor: pointer;
}
.userForgotPwd-signin-btn-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
}

.userForgotPwd-signin-btn {
  background-color: #d61c62;
  color: #fffdfa;
  margin: auto;
  border: none;
  width: 8rem;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.userForgotPwd-eye-div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 37px;
}
.userForgotPwd-eye-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row !important;
}
/* right section  */
.userForgotPwd-page-right-section {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userForgotPwd-page-right-section img {
  width: auto;
  height: 80%;
}
  

