.navbar-updated-container {
  display: flex;
  background-color: #fff;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  padding-left: 4%;
  margin-bottom: 1px;
  padding-right: 4%;
}

.navbar-updated-links-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 44%;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1rem;
  padding-left: 0;
  font-weight: 700;
}

.navbar-updated-links-container li {
  cursor: pointer;
}
.navbar-updated-links-container li:hover {
  color: #d61c62;
}
.navbar-updated-links-container .active {
  color: #d61c62;
}
.navbar-updated-logo-container {
  display: flex;
  align-items: center;
}

.navbar-updated-logo-container img {
  width: 3rem;
  height: auto;
}

.navbar-updated-logo-container p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 0;
}

.navbar-updated-search-container {
  display: flex;
  align-items: center;
  width: 82px;
  justify-content: space-between;
}
.navbar-updated-search-container svg {
    color: #d61c62;
}
.navbar-updated-container img {
  height: 40px;
  width: 40px;
  border-radius: 45%;
}

.navbar-updated-login-btn {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.navbar-updated-login-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-updated-login-container li {
    margin-left: 5px;
}