

.div2
{
border :1px solid rgb(254, 252, 252);
width: 1536px;
height: 550px;
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
 url("pic1.jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.img6
{
    padding-bottom: 45px;
}
.p1{
    font-size: 50px;
    word-spacing: 20px;
}
.div1
{
  
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
}
.p2
{
    font-size: 35px;
}
.div3
{
text-align: center;
}
.p4{
    font-size: 50px;
}
.div6
{
    display:flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}
.div4
{
    margin-left: 100px;
    margin-top:100px;
}
.div5{
    margin-right: 100px;
}
.img3
{
    margin-left: 100px;
    margin-top: 100px;
    transform: rotate(340deg);
    border: 10px solid black;
}
.div10{
    display: flex;
    justify-content: space-between;
}
.div8
{
    margin-top: 100px;
    margin-right: 100px;
    text-align: center;
}
.div9
{
    margin-left: 100px;
}
.p5{
    font-size: 35px;
}
.badge
{
    height: 40px;
    width: 150px;
    padding-top: 15px;
    font-size: 16px;
}
.abc
{
    height: 40px;
    width: 180px;
    padding-top: 10px;
    font-size: 16px;
}
.div11{
    text-align: center;
}
.p6
{
    font-size: 35px;
}
.b1
{
    color: rgb(255, 0, 123);
}
.div12
{
    border :5px solid rgb(254, 251, 251);
width: 450px;
height: 400px;
background-color: rgb(237, 234, 234);
}
.img4
{
    border-radius: 25px;
}
.div12
{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 200px;
}
.p8
{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 100px;
}
.abc
{  
    margin-left: 70px;
}
.div14
{
    margin-right: 200px;
}
.b2
{
    font-size: 20px;
}
.div15
{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
   
}
.def
{
    width: 220px;
    margin-left: 650px;
}
.b3
{
    font-size: 40px;
}
.div18
{
    text-align: center;
}
.p20
{
    font-size: 50px;
    text-align: center;
}

.div60{
    border:5px solid rgb(253, 252, 252);
    width: 250px;
    height: 450px;
}
.p60
{
    font-size: 20px;
}
.b10
{
    color:rgb(0, 132, 255);
}
.div70
{
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 200px;
}

.b4
{
    color: rgb(7, 156, 248);
}

.img5
{
    margin-left: 300px;
}
.div24
{
    border :1px solid rgb(250, 2, 2);
width: 350px;
height: 500px;
background-color: rgb(0, 153, 255);
}
.t1{
    width: 190px;
    height: 20px;
    background-color:  rgb(0, 153, 255);
    border: none;
}
.b5
{
    color: rgb(0, 153, 255);
}
.div26
{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.div24{
    padding-left: 80px;
    padding-top: 30px;
    color: aliceblue;
    padding-bottom: 550px;
}
.p30
{
    font-size: 25px;
}
.klm
{
width: 170px;
}
.b6
{
    font-size: 35px;
}
.i1{
    border-color: red;
    height: 30px;
   margin-top: 10px;
}
.p22
{
    color: red;
    font-size: 25px;
}
.div27
{
    border: 2px solid rgb(254, 253, 253);
    width: 1520px;
    height: 200px;
    padding-left: 500px;
    background-image: url('pic21.jpeg');
}
.div50
{
    border: 1px solid red;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 145, 255);
    border: none;
}
.div51
{
    border: 1px solid rgb(85, 0, 255);
    width: 375px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 80px;
    background-color: rgb(218, 217, 218);
    border: none;
    border-radius: 40px;
}
.img50{
    border-radius: 50%;
    margin-left: 100px;
    border: 5px solid white;
    }
    .div52
    {
        text-align: center;
    }
    .p11
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .div53
    {
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }
    .card-img-overlay
    {
       border: 2px solid black;
       width: 510px;
       height: 100px; 
       border: none;
       opacity: 0.7;
       background-color: rgb(5, 5, 5);
      margin-top: 250px;
    }
    .p80
    {
        color:white;
        text-align: center;
    }
    .b80
    {
        font-size: 25px;
    }
    .p90
    {
font-size: 40px;
    }
    .p91
    {
        color:grey;
    }
    .b90
    {
       font-size: 40px; 
    }  
    .div23
    {
        margin-top: 150px;
    } 
   .i3{
border: none;
background-color:rgb(0, 153, 255);
   }

   .new{
    width: 70%;
    margin-left: 180px;
}
.div25{
margin-top: 100px;
}
.xyz
{
    margin-bottom: 5px;
}