.petshop-home-custom-btn{
    --bs-btn-padding-y: 0.5rem;
     --bs-btn-padding-x: 2.0rem;
      --bs-btn-font-size: 2.25rem;
}
.petshop-home-box{
    margin-top: 7%!important;
}
.petshop-home-sizing{
    max-width: 1505px;
}