.admin-dashboard-logo{
    height:500px;
    min-width: 1386px;
}
.admin-dashboard-status1{
    background-color: #f4f4f4;
    min-height: 300px;
}
.admin-dashboard-status2{
    background-color: #d61c62;
    min-height: 300px;
}
.admin-dashboard-status3{
    background-color: #1446a0;
    min-height: 300px;
}
.admin-dashboard-dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    translate: 0px 7px;
}
